/* F O N T S */

/* fira-code-regular - latin */
@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("/static/fonts/fira-code-400.woff2") format("woff2");
}

/* fira-code-500 - latin */
@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("/static/fonts/fira-code-500.woff2") format("woff2");
}

/* fira-code-600 - latin */
@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("/static/fonts/fira-code-600.woff2") format("woff2");
}

/* fira-code-700 - latin */
@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("/static/fonts/fira-code-700.woff2") format("woff2");
}

/* noto-sans-display-regular-400 - latin */
@font-face {
  font-family: "Noto Sans Display";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("/static/fonts/noto-sans-display-latin-400.woff2") format("woff2");
}

/* noto-sans-display-italic-400 - latin */
@font-face {
  font-family: "Noto Sans Display";
  font-style: italic;
  font-weight: 400;
  src: local(""), url("/static/fonts/noto-sans-display-latin-400italic.woff2") format("woff2");
}

/* noto-sans-display-regular-500 - latin */
@font-face {
  font-family: "Noto Sans Display";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("/static/fonts/noto-sans-display-latin-500.woff2") format("woff2");
}

/* noto-sans-display-italic-500 - latin */
@font-face {
  font-family: "Noto Sans Display";
  font-style: italic;
  font-weight: 500;
  src: local(""), url("/static/fonts/noto-sans-display-latin-500italic.woff2") format("woff2");
}

/* A C T U A L  C S S */

@media screen and (width <= 430px) {
  body {
    padding-left: 4px !important;
    padding-right: 4px !important;
  }
}

body {
  font-family: "Noto Sans Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  font-weight: 500;
  background-color: black;
  color: silver;
  line-height: 1.5;
  padding-left: 15px;
  padding-right: 15px;
}

hr {
  border: 0;
  border-top: 1px solid rgb(255 255 255 / 12%);
  display: block;
  margin-top: 16px;
  margin-bottom: 16px;
  width: 100%;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fira Code", Consolas, "Lucida Console", monospace;
  line-height: 1.2;
  color: white;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  margin: 20px 0 16px;
}

h2 {
  font-size: 28px;
  font-weight: 600;
  margin: 20px 0 14px;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  margin: 16px 0 12px;
  font-style: italic;
}

h4 {
  font-size: 16px;
  margin: 16px 0 10px;
  font-weight: 500;
}

h5 {
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  margin: 16px 0 10px;
}

h6 {
  font-size: 12px;
  margin: 16px 0 10px;
  font-weight: 500;
}

p {
  margin: 0;
  margin-bottom: 16px;
  margin-top: -8px; /* TODO, LMAOOOOO */
}

ul,
ol {
  margin-bottom: 8px;
  padding-left: 40px;
  vertical-align: baseline;
}

table {
  margin-bottom: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: +10px;
}

p + ul {
  margin-top: -8px;
}

dl {
  margin-bottom: 16px;
}

dd {
  margin-left: 40px;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: baseline;
}

code,
pre,
table {
  font-family: "Fira Code", Consolas, "Lucida Console", monospace;
  background: #222;
  display: block;
  font-size: 13px;
  margin: 5px 0;
  padding: 13px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

embed,
iframe,
video {
  border: 0;
}

small {
  color: silver;
  vertical-align: bottom;
}

footer {
  font-size: smaller;
  margin: 20px 0 16px;
}

footer p {
  margin-bottom: 0;
}

u {
  text-decoration: underline;
}

s {
  text-decoration: line-through;
}

sup {
  font-size: 14px;
  vertical-align: super;
}

sub {
  font-size: 14px;
  vertical-align: sub;
}

mark {
  background: silver;
}

a:link {
  color: teal;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

a:visited {
  color: maroon;
}

tr {
  border-bottom: 2px solid rgb(255 255 255 / 12%);
  margin-bottom: 8px;
}

thead tr {
  border-bottom: 1px solid rgb(255 255 255 / 12%);
  background: rgb(255 255 255 / 12%);
}

caption {
  padding: 8px 0;
}

th,
td {
  border-bottom: 1px solid black;
  padding: 16px;
  vertical-align: inherit;
}

thead th {
  border: 0;
  border-bottom: 2px solid black;
  text-align: left;
}

tfoot tr {
  text-align: left;
}

tfoot td {
  color: black;
  font-size: 8px;
  font-style: italic;
  padding: 16px 4px;
}

::selection {
  color: white;
  background: teal;
}

/* BUTTON */

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 30px;
  padding: 0 15px;
  color: white;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: teal;
  border-radius: 4px;
  border: 1px solid white;
  cursor: pointer;
  box-sizing: border-box;
  min-width: 100px;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: silver;
  border-color: white;
  background-color: teal;
  outline: 0;
}

/* Forms */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 23px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: grey;
  border: 1px solid white;
  color: white;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  width: 250px;
  margin-top: 3px;
  margin-bottom: 3px;
}

/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  appearance: none;
}

textarea {
  min-height: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid teal;
  outline: 0;
}

label,
legend {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

fieldset {
  padding: 0;
  border-width: 0;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
}

label > .label-body {
  display: inline-block;
  margin-left: 0.5rem;
  font-weight: normal;
}

/* Ruining the classless dream */
@media (width >= 400px) {
  .container {
    width: 85%;
    padding: 0;
  }
}

@media (width >= 550px) {
  .container {
    width: 80%;
  }

  .column,
  .columns {
    margin-left: 4%;
  }

  .column:first-child,
  .columns:first-child {
    margin-left: 0;
  }

  .one-half.column {
    width: 48%;
  }
}

.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

.row {
  max-width: 100%;
}
