<!doctype html>
<html lang="en">

<head>
    <title>Ansible Inventory CMDB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett" />
    <link rel="stylesheet" href="/static/zy.css" />
</head>

<body>
    <main>
        <h2>Ansible Inventory CMDB</h2>
        <p><a href="/">Inventories</a></p>
        <p>{{ error }}</p>
    </main>
</body>

<script src="/static/sorttable.js"></script>

</html>
