<!doctype html>
<html lang="en">

<head>
    <title>Ansible Inventory CMDB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett" />
    <link rel="stylesheet" href="/static/zy.css" />
</head>

<body>
    <main>
        <h2>Ansible Inventory CMDB</h2>
        <p><b>Inventories</b></p>
        <table>
            <tr>
                <th>Inventory</th>
                <th>Source URL</th>
                <th>Derived base URL</th>
            </tr>
        {% for inventory, inventory_dict in inventories.items() %}<tr><td><a href="/inventory/{{ inventory }}">{{ inventory }}</a></td><td><a href="{{ inventory_dict['url'] }}">source</a></td><td>{{ inventory_dict['base_url'] }}</td></tr>{% endfor %}
    </main>
</body>

</html>
