<!doctype html>
<html lang="en">

<head>
    <title>Hello World</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett" />
    <link rel="stylesheet" href="static/zy.css" />
</head>

<body>
    <main>
        <h1 id="TITLE">{{ __app_nice_name }}</h1>
        <table>
            <tr>
                {% for key, value in schema_mapping.items() %}<th>{{ value }}</th>{% endfor %}<th>Host Vars</th><th>Group Vars</th>
            </tr>{% for host, host_vars in cmdb.items() %}
            <tr>
                {% for key, value in schema_mapping.items() %}<td>{{ host_vars['vars'][key] }}</td>{% endfor %}
                <td><a href="/host/{{ host }}">{{ host }}</a></td>
                <td>{% for group in host_vars['groups'] %}<a href="/group/{{ group }}">{{ group }}</a>, {% endfor %}</td>
            </tr>{% endfor %}
        </table>
    </main>
</body>

</html>
