<!doctype html>
<html lang="en">

<head>
    <title>{% block title %}Ansible Inventory CMDB{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett" />
    <link rel="stylesheet" href="/static/zy.css" />
    <link rel="icon" href="/static/favicon/favicon.ico" />
    <link rel="apple-touch-icon" href="/static/favicon/apple-touch-icon.png" />
    <link rel="manifest" href="/static/favicon/site.webmanifest" />
</head>

<body>
    <main>
        <h2>Ansible Inventory CMDB</h2>
        {% block content %}{% endblock %}
    </main>
    <script src="/static/sorttable.js"></script>
</body>

</html>
