{% extends "base.html.j2" %}

{% block title %}{{ __thing }} vars: {{ __host }}{% endblock %}

{% block content %}<p><a href="{{ root_href }}">Inventories</a> / <a href="/inventory/{{ __inventory }}{{ page_suffix }}">{{ __inventory }}</a> / {{ __thing }}: <b>{{ __host }}</b></p>
        <code>{{ __vars }}</code>{% endblock %}
